.history {
	margin:0 auto;padding:0 auto;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #aa56ff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	width:620px;
	max-height:250px;
	overflow-y:scroll;
	}.history table{
	width:600px;
   border-collapse: collapse;
        border-spacing: 0;
	margin:0 auto;padding:0 auto;
}.history tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.history table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.history table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.history tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.history tr:hover td{
	
}
.history tr:nth-child(odd){ background-color:#56aaff; }
.history tr:nth-child(even)    { background-color:#ffffff; }.history td{
	vertical-align:middle;
	
	
	border:1px solid #aa56ff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.history tr:last-child td{
	border-width:0px 1px 0px 0px;
}.history tr td:last-child{
	border-width:0px 0px 1px 0px;
}.history tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.history tr:first-child td{
		background:-o-linear-gradient(bottom, #56aaff 5%, #5656ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #5656ff) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #5656ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#5656ff");	background: -o-linear-gradient(top,#56aaff,5656ff);

	background-color:#56aaff;
	border:0px solid #aa56ff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Trebuchet MS;
	font-weight:bold;
	color:#ffffff;
}
.history tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #5656ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #5656ff) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #5656ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#5656ff");	background: -o-linear-gradient(top,#56aaff,5656ff);

	background-color:#56aaff;
}
.history tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.history tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}